.filmographie {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 5vh;
    font-size: small;
}


.resume {
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    text-align: center;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;


}


.listGenre {
    display: flex;
    align-items: justify; 
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 12vh;
}


.btn-perso {
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {
    
    background-color: cadetblue!important;
    
}